.Products-upper, .Products-downer, .Services-upper, .Services-downer, .Shopinfo-upper, .Shopinfo-downer, .recommend-upper, .recommend-downer, .Cacuti-Succulents-upper, .Cacuti-Succulents-downer {
    font-family: serif;
    color: #4b4949;
}

.Products-upper, .Services-upper, .Shopinfo-upper, .Cacuti-Succulents-upper, .recommend-upper {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
  }

    .Products-upper:before  {
    content: '';
    position: absolute;
    bottom: -10px;
    display: inline-block;
    width: 100px;
    height: 1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #4b4949;
    }

    .Services-upper:before {
    content: '';
    position: absolute;
    bottom: -10px;
    display: inline-block;
    width: 100px;
    height: 1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #4b4949;
    }

    .Shopinfo-upper:before {
    content: '';
    position: absolute;
    bottom: -10px;
    display: inline-block;
    width: 100px;
    height: 1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #4b4949;
    }

    .Cacuti-Succulents-upper:before {
    content: '';
    position: absolute;
    bottom: -10px;
    display: inline-block;
    width: 200px;
    height: 1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #4b4949;
    }

    .recommend-upper:before {
    content: '';
    position: absolute;
    bottom: -10px;
    display: inline-block;
    width: 100px;
    height: 1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #4b4949;
    }


.btn a {
    font-family: "Times New Roman";
    font-size: 9px;
    font-weight: 500;
    color: #222222;
    box-shadow:5px 5px 10px;
    text-decoration: none;
    letter-spacing: 0.2em;
    display: block;
    width: 200px;
    padding: 30px 0 30px;
    text-align: center;
    box-sizing: border-box;
    border: solid 1px #222222;
}
.btn a:hover {
    color: #ffffff;
    background-color: #463f3f;
}

/*ボタンの上部、日本語部分をフォントサイズを変更*/
.row .btn a .upper {
    font-size: 16px;
    font-family: serif;
}

/*見出し(h5)の下部、英語部分のフォントサイズ変更*/
h5 .head-downer {
    font-size: 15px;
}

.head-Shop, .head-Accessmap {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #463f3f;
}


  .table {
      font-size: 10px;
      font-family: Georgia, 'Times New Roman', Times, serif; 
      color: #463f3f;
  }
  
  .footer-nav-link {
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #463f3f;
  }

  .Copyright p {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 10px;
  }


#page_top{
	position: fixed;
	right: 20px;
	bottom: 20px;
	background: #a19e9ead;
	opacity: 0.8;
	border-radius: 50%;
}

#page_top a{
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	text-decoration: none;
}

#page_top a::before{
    position: absolute;
      top: -5px;
      bottom: 0;
      right: 0;
      left: 0;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f106';
      font-size: 30px;
      color: #fff;
      width: 35px;
      height: 35px;
      margin: auto;
      text-align: center;
}

.recommend-all {
      width: 100%;
      opacity: 0.7;
}

.recommend-1-2 {
      width:100%;
      opacity: 0.8;
}


